<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{>header}}
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <div class="container">
     {{{body}}}
    </div>
    
    <script src="/javascripts/fontawesome-all.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>
